.main-chat
  .main-header
    .main-header__logo
      .main-header__logo__group
        = @group.name
      .main-header__logo__username 
        -@group.users.each do |user|
          #{user.name}
    = link_to edit_group_path(@group.id) do
      .main-header__edit-btn Edit

  .messages
    = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
      .input-box
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image' )
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'